{% extends "layout.html" %}
{% block content %}
    <h1>About IIITG</h1>
    <p>
        Indian Institute of Information Technology Guwahati (IIITG) is an institution of National Importance under an Act of Parliament (THE INDIAN INSTITUTES OF INFORMATION TECHNOLOGY (PUBLIC-PRIVATE PARTNERSHIP) ACT, 2017). It offers B.Tech. courses in Electronics and Communication Engineering (ECE) and Computer Science Engineering (CSE), M.Tech. courses in CSE and ECE and runs PhD programmes in ECE, CSE, Mathematics, and Humanities and Social Sciences (HSS). IIITG started operations in August 2013 with B.Tech programmes in CSE and ECE. The first batch of B.Tech. students completed their programme in May 2017. The first convocation of the Institute was held on May 15 2018.The institute has further received funding for infrastructural development and academic improvement under TEQIP III.
    </p><br>
    <p>
        IIITG is one of the 20 IIITs set up by the Central Govt. in PPP mode. A Bill (Act of Parliament) to declare all the PPP-IIITs (including IIITG) as Institutes of National Importance was passed by both the houses of the Indian parliament in July, 2017.
    </p><br>
    <h3>
        In its very first year when it became eligible, IIITG has got a rank of 66 in the Engineering category of NIRF 2020. What is even more notable is that it is ranked the highest among all MHRD IIITs! This includes even the older, Govt. funded IIITs! We were not eligible for ranking in the Overall category as we have less than 1000 students.

    </h3><br>
{% endblock content %}